
name: Terraform Deploy

on:
   push:
     branches: [ main ]
 

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1 # change if needed

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        #if: ${{ github.event.inputs.action == 'init' }}
        run: terraform init

      - name: Terraform Validate
        #if: ${{ github.event.inputs.action == 'validate' }}
        run: terraform validate

      - name: Terraform Plan
        #if: ${{ github.event.inputs.action == 'plan' }}
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        #if: ${{ github.event.inputs.action == 'apply' }}
        run: terraform apply -auto-approve "tfplan"

         
